body{
    background-color:mediumblue;
}
#move{
    -webkit-app-region: drag;    
    background-color:olive;
    height: 30px;
}
.divconectar{
    margin-top: 30px;
    display: flex;     
    flex-direction: column;    
}
.divconectar input{
    margin-bottom: 10px;
    height: 30px;
    border-radius:5px;
}
.divconectar button{
    margin-bottom: 10px;
    height: 30px;
    border-radius:5px;
}
#video{width: 150px;}
.midia{
    margin-top: 10px;    
    flex-direction: column;
    text-align: center;
}